<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


    <bean class="constructorusinginjection.Company" id="id1">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Neoteric"></constructor-arg>
        <constructor-arg value="Ap"></constructor-arg>
        <constructor-arg value="Hyd"></constructor-arg>

    </bean>
    <bean class="constructorusinginjection.Manager" id="id2">
<!--        <property name="id" value="1"></property>-->
<!--        <property name="name" value="maneesha"></property>-->
<!--        <property name="salary" value="10000"></property>-->
        <constructor-arg value="101"></constructor-arg>
        <constructor-arg value="prasanna"></constructor-arg>
        <constructor-arg value="20000"></constructor-arg>

    </bean>
    <bean class="constructorusinginjection.Company" id="id3">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="kakinada"></constructor-arg>
        <constructor-arg value="Ts"></constructor-arg>
        <constructor-arg value="Khmm"></constructor-arg>
    </bean>
    <bean class="constructorusinginjection.Manager" id="id4">
        <constructor-arg value="102"></constructor-arg>
        <constructor-arg value="prasanna"></constructor-arg>
        <constructor-arg value="20000"></constructor-arg>
    </bean>
</beans>